body {
    background-color: #08060a;
    font-family: var(--font-body);
    margin: auto;
    max-width: 75ch;
    color: #f3eafa;
    width: 100vw;
    padding: 0;
    display: flex;
    align-items: center;

    font-size: 16px;
}

a {
    cursor: pointer;
}

blockquote {
    margin-inline: 0;
    margin-block: 0;
    border-left: 4px solid #463e4a;
    padding-left: 14px;
    padding-block: 5px;

    color: #b2afb9;

    p {
        margin: 0;
    }
}

article {
    background-color: #141016;
    min-height: 100vh;
    padding-inline: 36px;
    padding-bottom: 38px;
    margin-bottom: 18px;
    border-radius: 0px 0px 18px 18px;
}

a {
    color: #db82ff;
}

h1,h2,h3 {
    font-family: var(--font-serif);
    font-weight: bold;
    color: #fefdff;
}

h1 {
    font-size: 72px;
    margin-block: 24px;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

pre {
    margin: 0;
    padding: 16px;
    border: 1px solid #362e3a;
    background-color: #08060a;
    border-radius: 18px;
}
