body {
    background-color: #08060a;
    font-family: var(--font-body);
    margin: auto;
    max-width: 60ch;
    color: #fff;
    width: 100vw;
    padding: 0;
    display: flex;
    align-items: center;

    font-size: 16px;
}

a {
    cursor: pointer;
}

blockquote {
    margin-inline: 0;
    margin-block: 0;
    border-left: 4px solid #463e4a;
    padding-left: 14px;
    padding-block: 5px;

    color: #b2afb9;

    p {
        margin: 0;
    }
}

article {
    background-color: #141016;
    min-height: 100vh;
    padding-inline: 24px;
}

a {
    color: #db82ff;
}

h1,h2,h3 {
    font-family: var(--font-serif);
    font-weight: bold;
}

h1 {
    font-size: 72px;
    margin-block: 24px;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}
